@import url(//fonts.googleapis.com/css?family=Arimo:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(../Directory/css/admin_style.css);
@font-face {
	font-family: 'Spotfinder_Icons';
	src: url('fonts/ElegantIcons.eot'); /* IE9 Compat Modes */
	src: url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/ElegantIcons.woff') format('woff'), /* Modern Browsers */
		url('fonts/ElegantIcons.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/ElegantIcons.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

html{padding-top: 0!important}
body, body.wordpress, body .ui-widget-content { color:#333; font-family: "Roboto",Georgia,serif; }
h1, h2, h3, h4, h5, h6 {color: #111}
a, ol li a, ul li a, .byline a, #tev_sub_categories ul li a, #sub_event_categories ul li a, #sub_listing_categories ul li a, .templatic_twitter_widget .twit_time,.mobile-view .list .entry h2.entry-title, .mobile-view .grid .entry h2.entry-title, .mobile-view .entry h2.entry-title, .mobile-view .list .entry h2.entry-title a, .mobile-view .grid .entry h2.entry-title a, .mobile-view .entry h2.entry-title a, .mobile-view #content .peopleinfo-wrap h3 .fl a,.all_category_list_widget .category_list h3 a:hover,.all_category_list_widget .category_list ul li a{ color: #ff5a5f }
a:hover,ol li a:hover, ul li a:hover, .byline a:hover, #sub_listing_categories ul li a:hover, #sub_event_categories ul li a:hover { color: #333 }
body .left-off-canvas-menu .mega-menu .mega_menu_wrap,
.left-off-canvas-menu { background-color: #ff5a5f; }
.search-toggle { display: none !important; }
.middle.tab-bar-section a,.mobile-view .toggle_handler #directorytab, .mobile-view .mobile-search, .mobile-view .mobile-search:hover{ color: #333;}
body.mobile-view .tab-bar .menu-icon span{ box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333;}


.mobile-view #header{position: inherit;}
.mobile-view #branding{ display: inline-block; padding: 0; float: none; position: absolute; right: 0; top: -45px;}
.mobile-view #branding hgroup{ display: none;}
.mobile-view .supreme_wrapper{ height: auto!important;}
.mobile-view .search_nearby_widget input[type="submit"]{ font-family: "spotfinder_icons"!important;}
.mobile-view .primary_menu_wrapper{ display: none;}
body.mobile-view .tab-bar .left-small{width: 43px; height:43px;}
body.mobile-view .right-medium > .templatic_text{ position: absolute;right: 42px; width: auto; top: 0; margin: 0;}
body.mobile-view .right-medium > .templatic_text a.submit-small-button{ float: right; color: #333; width: 43px; height:43px; padding: 0!important; border-width: 0 0 0 1px; border-radius: 0; font-size: 0;}
body.mobile-view .right-medium > .templatic_text a.submit-small-button:before{ content: '\4c'; font-family: 'spotfinder_icons'; font-size: 24px; line-height: 45px;}
body.mobile-view .right-medium > .templatic_text a.submit-small-button:hover{background: #FFF; color: #444444; border-color: rgba(0, 0, 0, 0.1);}
.mobile-view #sidebar-header > .widget{ padding: 10px; background: rgba(0,0,0,0.05);}
.mobile-view #sidebar-header form{ position: relative;}
.mobile-view #sidebar-header form input[type="submit"]{ position: absolute; right: 0; top: 0; height: 100%; padding: 0 15px !important; border-radius: 0 4px 4px 0;}
.mobile-view .sidebar #searchform input[type="text"]{ margin: 0;}

.mobile-view .all_category_list_widget .category_list_wrap{margin-left: -0.9375rem; margin-right: -0.9375rem; width: auto;}


.upload, body.woocommerce a.button, body.woocommerce button.button, body.woocommerce input.button, body.woocommerce #respond input#submit, body.woocommerce #content input.button, body.woocommerce-page a.button, body.woocommerce-page button.button, body.woocommerce-page input.button, body.woocommerce-page #respond input#submit, body.woocommerce-page #content input.button, #searchform input[type="submit"], body.woocommerce .widget_layered_nav_filters ul li a, body.woocommerce-page .widget_layered_nav_filters ul li a, div.woocommerce form.track_order input.button, #special_offer a.button {
		background-color: #ff5a5f;
}
.upload:hover, body.woocommerce a.button:hover, body.woocommerce button.button:hover, body.woocommerce input.button:hover, body.woocommerce #respond input#submit:hover, body.woocommerce #content input.button:hover, body.woocommerce-page a.button:hover, body.woocommerce-page button.button:hover, body.woocommerce-page input.button:hover, body.woocommerce-page #respond input#submit:hover, body.woocommerce-page #content input.button:hover, #content input.button:hover, #searchform input[type="submit"]:hover, body.woocommerce .widget_layered_nav_filters ul li a:hover, body.woocommerce-page .widget_layered_nav_filters ul li a:hover, div.woocommerce form.track_order input.button:hover, #special_offer a.button:hover,#content .claim-post-wraper ul li a:hover {
		background-color: #333;
}
#special_offer a.button, #special_offer a.button:hover {color: #fff}

#submit_form .upload.button, #userform .upload.button {background-color: #ff5a5f; color: #fff}
#submit_form .upload.button:hover, #userform .upload.button {background-color: #333; color: #fff}

#sidebar-header #searchform input[type="submit"], body.woocommerce a.button.alt, body.woocommerce button.button.alt, body.woocommerce input.button.alt, body.woocommerce #respond input#submit.alt, body.woocommerce #content input.button.alt, body.woocommerce-page a.button.alt, body.woocommerce-page button.button.alt, body.woocommerce-page input.button.alt, body.woocommerce-page #respond input#submit.alt, body.woocommerce-page #content input.button.alt {
		
		color: #fff;
		background-color: #333;
		
}
#sidebar-header #searchform input[type="submit"]:hover, body.woocommerce a.button.alt:hover, body.woocommerce button.button.alt:hover, body.woocommerce input.button.alt:hover, body.woocommerce #respond input#submit.alt:hover, body.woocommerce #content input.button.alt:hover, body.woocommerce-page a.button.alt:hover, body.woocommerce-page button.button.alt:hover, body.woocommerce-page input.button.alt:hover, body.woocommerce-page #respond input#submit.alt:hover, body.woocommerce-page #content input.button.alt:hover, body.woocommerce .quantity .plus, body.woocommerce-page .quantity .plus, body.woocommerce #content .quantity .plus, body.woocommerce-page #content .quantity .plus, body.woocommerce .quantity .minus, body.woocommerce-page .quantity .minus, body.woocommerce #content .quantity .minus, body.woocommerce-page #content .quantity .minus {
		background-color: #ff5a5f
}
body.woocommerce .quantity .plus:hover, body.woocommerce-page .quantity .plus:hover, body.woocommerce #content .quantity .plus:hover, body.woocommerce-page #content .quantity .plus:hover, body.woocommerce .quantity .minus:hover, body.woocommerce-page .quantity .minus:hover, body.woocommerce #content .quantity .minus:hover, body.woocommerce-page #content .quantity .minus:hover {
		background-color: #333;
}

button, input[type="reset"], input[type="submit"], input[type="button"], a.button, .button, .uploadfilebutton, body button.ui-datepicker-trigger,
body.frontend_editor .directory_google_map .map_customizer_wrap  #panel input[type="button"] {
		background-color: #ff5a5f;
		
}
body.frontend_editor .directory_google_map .map_customizer_wrap  #panel input[type="button"] { padding-bottom: 11px; }
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, a.button:hover, .button:hover, .uploadfilebutton:hover, body button.ui-datepicker-trigger:hover, body.frontend_editor .directory_google_map .map_customizer_wrap  #panel input[type="button"]:hover,
.upload.button.secondary_btn:hover {
		background-color: #333;
		border: 0;
}

.tab-bar .menu-icon span{box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff;}
.pos_navigation img { display: none; }
#footer .footer_bottom,
.mobile-view .comment-pagination .page-numbers, .mobile-view .loop-nav span.next, .mobile-view .loop-nav span.previous, .mobile-view .pagination .page-numbers, body.mobile-view .pos_navigation .post_left a, body.mobile-view .pos_navigation .post_right a,
.pagination .page-numbers.next:before, .pagination .page-numbers.previous:before, .pagination .page-numbers.prev:before { background: #333; color: #fff; }

.mobile-view .comment-pagination .page-numbers:hover, .mobile-view .loop-nav span.next:hover, .mobile-view .loop-nav span.previous:hover, .mobile-view .pagination .page-numbers:hover, body.mobile-view .pos_navigation .post_left a:hover, body.mobile-view .pos_navigation .post_right a:hover,
.pagination .page-numbers.next:hover:before, .pagination .page-numbers.previous:hover:before, .pagination .page-numbers.prev:hover:before { background: #ff5a5f; }

footer { background: #ff5a5f; }
footer .social_media{ display: none;}

.widget_supreme_banner_slider .slider_carousel .slides > li{ margin:0 40px 0 0;}

.mobile-view .flex-direction-nav a:before{ color: #333; font-size: 35px;}